* {
    box-sizing: border-box;
}

body {
    background-color: #ecc8af;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.gallery img {
    border: 1px solid rgb(243, 176, 176);
    height: auto;
    width: 98%;
}

.sub_gallery img {
    border: 2px solid rgb(243, 176, 176);
    height: auto;
    width: 100%;      
}
.des {
    line-height: .5;
    padding: 10px;
    text-align: left;
}

.des p {
    font-family: fantasy;
    padding-left: 3px;
    text-shadow: 2px 2px 4px #000000;
}

.responsive {
    float: left;
    padding: 0 6px;
    width: 33.33%;
}

.sub_responsive {
    padding: 0 6px;
    float: left;
    width: 100%;
}

h2 {
    font-family: fantasy;
    font-size: 2.5vw;
    letter-spacing: 2px;
    margin: 5px;
    text-shadow: 2px 2px 4px #000000;
}

ul {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: justify;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-size: 20px;
    letter-spacing: 3px;
}

h1 {
    font-size: 7vw;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    padding-left: 10px;
    text-shadow: 2px 2px 4px white;
}

h3 {
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 90px;
    text-shadow: 2px 2px 4px #000000;
}

a { 
    background-color: transparent;
    color: #f2f5ea;
    text-decoration: none;
}
.container {
    background:rgb(241, 140, 160);
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    position: relative;
    width: 100%;
}

.container .top_side {
    background: #ce796b;
    position: relative;
    padding: 40px;
}

.container .bottom_side {
    background: #495867;
    position: relative;
    padding: 40px;
    text-align: center;
}


.sub_container {
    background:rgb(241, 140, 160);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}


.sub_container .left_Side {
    background: #ce796b;
    position: relative;
    padding: 40px;
}

.sub_container .right_Side {
    background:#495867;
    position: relative;
    padding: 40px;
    text-align: center;
}

.lyrics {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.textchu {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.textchu h5 {
    font-size: 2vw;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000;
}

.footer {
    background: #ce796b;
    box-sizing: border-box;
    clear: both;
    font-family: 'Bebas Neue', cursive;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

.sub_footer {
    background: #f3dbcf;
    box-sizing: border-box;
    clear: both;
    font-family: 'Bebas Neue', cursive;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .responsive{
        width: 50%;
        
    }
}

@media only screen and (max-width: 700px) {
    .responsive{
        width: 90%;
        margin: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .responsive{
        width: 100%;
    }
}


@media (max-width: 1000px) {
    .sub_container {
        grid-template-columns: repeat(1, 1.5fr);
    }
}

@media (max-width: 700px) {
    .sub_container {
        grid-template-columns: repeat(1, 1.5fr);
    }
}